* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: rgb(243, 243, 243);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

.main-box {
  margin-top: 5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid rgb(206, 206, 206);
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  color: rgb(66, 66, 66);
}

.main-heading {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

.main-subheading {
  font-weight: 200;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.interactive-section {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 2rem 2rem;
  color: rgb(66, 66, 66);
}
.interactive-section p {
  font-size: 1.7rem;
  font-weight: 200;
}
.interactive-section > * {
  margin-bottom: 2rem;
}
.interactive-section label {
  color: rgb(105, 105, 105);
  font-weight: 100;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.interactive-section input {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 8px;
  padding: 5px;
  font-size: 1.2rem;
}
.interactive-section button {
  border: none;
  background-color: rgb(102, 152, 244);
  border-radius: 8px;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 200;
  cursor: pointer;
}
.interactive-section .crypto-dropdown {
  width: 5.5rem;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 0rem;
  position: relative;
  cursor: pointer;
}
.interactive-section .crypto-dropdown .btc-img {
  width: 1.5rem;
}
.interactive-section .crypto-dropdown h3 {
  font-weight: 300;
  font-size: 1.5rem;
}
.interactive-section .crypto-dropdown > * {
  margin-right: 0.5rem;
}
.interactive-section .crypto-dropdown-content {
  visibility: hidden;
  position: absolute;
  top: 3.75rem;
  left: -1rem;
  height: 12rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(255, 255, 255);
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
.interactive-section .crypto-dropdown-content :hover {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
}
.interactive-section .crypto-dropdown-content .crypto-li {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  margin: 1rem;
  align-items: center;
}
.interactive-section .crypto-dropdown-content .crypto-li > * {
  margin-right: 1rem;
  font-weight: 200;
}
.interactive-section .current-price-div {
  display: flex;
  position: relative;
  margin-bottom: 0.9rem;
  margin-left: 1.25rem;
  align-items: center;
}
.interactive-section .current-price-div label {
  font-size: 1rem;
  margin-right: 0.7rem;
  padding-top: 0.5rem;
}
.interactive-section .current-price-div p {
  font-size: 1.25rem;
  color: rgb(0, 149, 35);
}

.flex {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.flex span {
  margin-left: 0.25rem;
}

.email-input,
.price-input,
.alert-button {
  height: 2rem;
}/*# sourceMappingURL=style.css.map */