* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

.main-box {
  width: fit-content;
  height: fit-content;
  background-color: rgb(47, 43, 37);
}

.main-heading {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.main-subheading {
  font-weight: 200;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.interactive-section {
  display: flex;
  padding: 1rem;

  & p {
    font-size: 1.7rem;
    font-weight: 200;
  }

  & > * {
    margin-right: 1rem;
  }

  .crypto-dropdown {
    border: 2px solid rgb(255, 158, 2);
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    position: relative;
    bottom: 0.25rem;

    .btc-img {
      width: 2rem;
    }

    & > * {
      margin-right: 0.5rem;
    }
  }

  .crypto-dropdown-content {
    position: absolute;
    top: 3.75rem;
    right: 0.25rem;
    height: 9rem;
    width: fit-content;
    background-color: rgb(47, 43, 37);
    list-style: none;
    overflow-y: scroll;

    .crypto-li {
      display: flex;
      margin: 1rem;
      align-items: center;

      & > * {
        margin-right: 1rem;
        font-weight: 200;
      }
    }
  }
}

.email-input,
.price-input,
.alert-button {
  height: 2rem;
}
